# Dart / Flutter
**/.dart_tool/
**/.pub/
**/build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Package root lockfile
/pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Logs
*.log
